/PART_B/alt_approach
/road_results
/PART_B/B1B2B3
/hardtester
/documents
/lane_results
PART_B/.vscode/settings.json
__pycache__/road_detector_A1.cpython-312.pyc
__pycache__/obstacle_detection_cv_A2.cpython-312.pyc
PART_A/version2_dbsacan_yolo/coco.names
PART_A/version2_dbsacan_yolo/yolov3.weights
PART_A/version2_dbsacan_yolo/yolov3.cfg
PART_A/version1_colorspace_cv/__pycache__/obstacle_detection_cv_A2.cpython-312.pyc
PART_A/version1_colorspace_cv/obstacle_detection_cv_A2.py
PART_A/version1_colorspace_cv/__pycache__/road_detector_A1.cpython-312.pyc
~$port_LIDAR_camer_up1096060.docx
~$port_LIDAR_camer_up1096060.docx
~$port_LIDAR_camer_up1096060.docx
PART_A/stereoVersion/yolov3.cfg
PART_A/stereoVersion/yolov3.weights
*.pyc
PART_A/stereoVersion/coco.names
PART_A/stereoVersion/output_video_16fps.avi
*.avi
/PART_B/road_results
report_LIDAR_camera_up1096060v1.pdf
*.docx
/PART_B/lane_results
/PART_B/B1B2
/PART_B/prototypes
